:deep(.v-select) {
    --vs-controls-color: #ffffff; /* Blanco */
    --vs-border-color: #dde1ee; /* Azul oscuro */
    --vs-border-width: 1px;

    --vs-dropdown-bg: #b4bfe5; /* Azul intenso */
    --vs-dropdown-color: #000000; /* Texto blanco */
    --vs-dropdown-option-color: #000000; /* Texto blanco en opciones */

    --vs-selected-bg: #98999b; /* Azul más claro */
    --vs-selected-color: #656464; 

    --vs-search-input-color: #1c1b1b;

    --vs-dropdown-option--active-bg: #3b82f6;
    --vs-dropdown-option--active-color: #ffffff;
}



textarea {
    @apply px-3 py-2 border border-gray-300 rounded-md;
}

[name="labelSelectVue"],
.muted {
    color: rgba(91, 138, 183, 0.6);
}

[name="labelSelectVue"] {
    /* font-size: 22px; */
    font-weight: 600;
}
