>>> {
    --vs-controls-color: #7398e7;
    --vs-border-color: #1f0383;
    --vs-border-width: 4px;

    --vs-dropdown-bg: #848688;
    --vs-dropdown-color: #062eda;
    --vs-dropdown-option-color: #210000;

    --vs-selected-bg: #0d5402;
    --vs-selected-color: #81818f;

    --vs-search-input-color: #eeeeee;

    --vs-dropdown-option--active-bg: #664cc3;
    --vs-dropdown-option--active-color: #eeeeee;
}
textarea {
    @apply px-3 py-2 border border-gray-300 rounded-md;
}

[name="labelSelectVue"],
.muted {
    color: rgba(91, 138, 183, 0.6);
}

[name="labelSelectVue"] {
    /* font-size: 22px; */
    font-weight: 600;
}
